@model DPWVessel.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
    <link href="@Url.Content("~/Content/css/libs/bootstrap/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/helper.css")" rel="stylesheet">
}

<div id="main-wrapper">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <img src="~/Content/images/DPWVessel.png" class="login-img">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-t-10 m-t-30" value="Email Link">Email Link</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
